<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home - Monitoramento Elétrico</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

<header>⚡ Monitoramento Inteligente de Consumo Elétrico</header>

<div class="menu">
    <a href="/dashboard" class="btn-menu btn-dashboard">
        📊 Dashboard Principal
    </a>

    <a href="/dashboard/alertas" class="btn-menu btn-alertas">
        ⚠️ Histórico de Alertas
    </a>

    <a href="/consumo-periodos" class="btn-menu btn-periodos">
        📆⚡ Consumo por Período
    </a>
</div>

</body>
</html>
